# SIM7600 Serial/QMI mode
SUBSYSTEM=="tty", ENV{ID_VENDOR_ID}=="1e0e", ENV{ID_MODEL_ID}=="9001", \
    ENV{ID_USB_INTERFACE_NUM}=="02", SYMLINK+="SimAT"
# SIM7600 RNDIS mode
SUBSYSTEM=="tty", ENV{ID_VENDOR_ID}=="1e0e", ENV{ID_MODEL_ID}=="9011", \
    ENV{ID_USB_INTERFACE_NUM}=="04", SYMLINK+="SimAT"